*{
  padding: 0;
  margin: 0;
}
.container {
  display: flex;
  justify-content: center;
}


#imageArea img {
  width: 150px;
  margin: 10px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border 0.3s;
}

#imageArea img.select{
  border: 2px solid green;
}